* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

.intro {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}
.intro .logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.intro .logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-size: 1.7rem;
}
@media all and (min-width: 2040px) {
  .intro .logo {
    font-size: 2.5rem;
  }
}
.intro .logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.intro .logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.front-page {
  background: #161616;
  height: 110vh;
  width: 100%;
}
@media all and (max-width: 768px) {
  .front-page h1 {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 500px) {
  .front-page h1 {
    font-size: 1rem;
  }
}
@media all and (max-width: 350px) {
  .front-page h1 {
    font-size: 0.8rem;
  }
}
.front-page .header {
  position: fixed;
  width: 100%;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 2rem;
  z-index: 9999;
  background-color: #161616;
}
@media all and (max-width: 768px) {
  .front-page .header .hamburger.rotate {
    transform: rotate(90deg);
  }
  .front-page .header .nav {
    position: fixed;
    right: 0px;
    top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    background-color: #161616;
    z-index: 999;
    height: 100%;
  }
  .front-page .header .nav li {
    position: relative;
    z-index: 9999;
    opacity: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .front-page .header .nav li a {
    font-size: 1.5rem;
  }
  .front-page .header .nav-active {
    transform: translateX(0%);
  }
  .front-page .header .social-media {
    display: none;
  }
}
.front-page .header .mini_logo a {
  position: relative;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 9999;
}
@media all and (min-width: 2040px) {
  .front-page .header .mini_logo a {
    font-size: 1.7rem;
  }
}
@media all and (min-width: 1080px) {
  .front-page .header .mini_logo a {
    font-size: 1.7rem;
  }
}
.front-page .header .mini_logo a:hover {
  color: rgb(217, 255, 0);
}
.front-page .header ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.front-page .header ul .red {
  color: orangered;
}
.front-page .header ul .red:hover {
  color: rgb(217, 255, 0);
}
.front-page .header ul .yellow {
  color: rgb(217, 255, 0);
}
.front-page .header ul .yellow:hover {
  color: orangered;
}
.front-page .header li a {
  text-decoration: none;
  padding: 0 1.5rem;
  color: white;
  font-size: 1rem;
}
.front-page .header li a:hover {
  color: darkgray;
}
@media all and (min-width: 2040px) {
  .front-page .header li a {
    font-size: 1.4rem;
  }
}
.front-page .header .hamburger {
  position: relative;
  display: none;
  cursor: pointer;
  z-index: 99999;
}
.front-page .header .hamburger div {
  width: 16px;
  height: 2px;
  background-color: #fff;
  margin: 5px;
}
.front-page .header .hamburger:hover {
  color: orangered;
}
.front-page .header .hamburger:focus {
  outline: none;
}
@media all and (max-width: 768px) {
  .front-page .header .hamburger {
    display: block;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .front-page .header .hamburger .line {
    transition: all 0.4s ease;
  }
  .front-page .header .hamburger .line.turn {
    transform: rotate(270deg);
  }
}
.front-page .header .social-media a {
  color: white;
  height: 200px;
}
.front-page .header .social-media a:hover {
  color: orangered;
}
.front-page .header .social-media a .svg-inline--fa {
  font-size: 1.7rem;
}
.front-page .logo-main-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media all and (min-width: 2040px) {
  .front-page #svg-logo {
    width: 900px;
  }
}
@media all and (min-width: 769px) {
  .front-page #svg-logo {
    width: 600px;
  }
}
@media all and (max-width: 768px) {
  .front-page #svg-logo {
    width: 400px;
  }
}
@media all and (max-width: 500px) {
  .front-page #svg-logo {
    width: 300px;
  }
}
@media all and (max-width: 350px) {
  .front-page #svg-logo {
    width: 200px;
  }
}
.front-page #svg-logo path:nth-child(2) {
  stroke-dasharray: 453.7;
  stroke-dashoffset: 453.6;
  animation: dash 1s ease forwards 3s;
}
.front-page #svg-logo path:nth-child(3) {
  stroke-dasharray: 506.4px;
  stroke-dashoffset: 506.4px;
  animation: dash 1s ease forwards 3.1s;
}
.front-page #svg-logo path:nth-child(4) {
  stroke-dasharray: 398.9px;
  stroke-dashoffset: 398.9px;
  animation: dash 1s ease forwards 3.2s;
}
.front-page #svg-logo path:nth-child(5) {
  stroke-dasharray: 477.7px;
  stroke-dashoffset: 477.7px;
  animation: dash 1s ease forwards 3.3s;
}
.front-page #svg-logo path:nth-child(6) {
  stroke-dasharray: 534.5px;
  stroke-dashoffset: 534.5px;
  animation: dash 1s ease forwards 3.4s;
}
.front-page #svg-logo path:nth-child(7) {
  stroke-dasharray: 506px;
  stroke-dashoffset: 506px;
  animation: dash 1s ease forwards 3.5s;
}
.front-page #svg-logo path:nth-child(8) {
  stroke-dasharray: 668.7px;
  stroke-dashoffset: 668.7px;
  animation: dash 1s ease forwards 3.6s;
}
.front-page #svg-logo path:nth-child(9) {
  stroke-dasharray: 668.7px;
  stroke-dashoffset: 668.7px;
  animation: dash 1s ease forwards 3.7s;
}
.front-page #svg-logo path:nth-child(10) {
  stroke-dasharray: 506.4px;
  stroke-dashoffset: 506.4px;
  animation: dash 1s ease forwards 3.8s;
}
.front-page #svg-logo path:nth-child(11) {
  stroke-dasharray: 422.5px;
  stroke-dashoffset: 422.5px;
  animation: dash 1s ease forwards 3.9s;
}
.front-page .sub {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
@media all and (min-width: 2040px) {
  .front-page .sub {
    margin-top: 1.3rem;
  }
}
@media all and (min-width: 1080px) {
  .front-page .sub {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}
.front-page .sub .sub-title {
  color: #fff;
  visibility: hidden;
  animation: fadeIn ease 2s 4s;
  font-size: 1.3rem;
}
.front-page .sub .sub-title .yellow {
  color: rgb(217, 255, 0);
}
.front-page .sub .sub-title .yellow:hover {
  color: orangered;
}
.front-page .sub .sub-title .red {
  color: orangered;
}
.front-page .sub .sub-title .red:hover {
  color: rgb(217, 255, 0);
}
@media screen and (min-width: 2040px) {
  .front-page .sub .sub-title {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .front-page .sub .sub-title {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 350px) {
  .front-page .sub .sub-title {
    font-size: 0.6rem;
  }
}
.front-page .sub a {
  visibility: hidden;
  color: white;
  text-decoration: none;
  padding: 0.4rem 0.5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 0.8rem;
  transition: 0.2s linear;
  font-weight: 800;
  animation: fadeOut linear 2s 4s;
  font-size: 1rem;
}
.front-page .sub a:hover {
  background: white;
  color: #000;
  transform: scale(1.05);
}
@media screen and (min-width: 2040px) {
  .front-page .sub a {
    font-size: 1.2rem;
    margin-top: 1.2rem;
    padding: 0.4rem 0.6rem;
  }
}
@media screen and (max-width: 768px) {
  .front-page .sub a {
    font-size: 0.95rem;
    padding: 0.3rem 0.4rem;
  }
}
@media screen and (max-width: 500px) {
  .front-page .sub a {
    font-size: 0.85rem;
    padding: 0.3rem 0.4rem;
  }
}
@media screen and (max-width: 350px) {
  .front-page .sub a {
    font-size: 0.6rem;
    padding: 0.2rem 0.3rem;
    margin-top: 0.55rem;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes text {
  0% {
    transition: ease-in;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 5px;
    margin-bottom: -40px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-left: -40px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
    margin-right: -40px;
  }
  100% {
    opacity: 1;
  }
}
.project-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #161616;
  color: white;
  min-height: 100vh;
}
@media all and (min-width: 2040px) {
  .project-page {
    font-size: 1.4rem;
  }
}
.project-page .title {
  padding: 1rem;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 4rem;
}
@media all and (min-width: 2040px) {
  .project-page .title {
    font-size: 3rem;
  }
}
@media all and (min-width: 1080px) {
  .project-page .title {
    padding-top: 1rem;
    font-size: 2rem;
  }
}
.project-page .title .red {
  color: orangered;
}
@media all and (max-width: 600px) {
  .project-page .project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.project-page .project-container #projects {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media all and (max-width: 600px) {
  .project-page .project-container #projects {
    display: flex;
    flex-direction: column;
  }
}
.project-page .project-container #projects .square {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem;
}
@media all and (min-width: 2040px) {
  .project-page .project-container #projects .square {
    width: 500px;
    height: 500px;
  }
}
@media all and (max-width: 600px) {
  .project-page .project-container #projects .square {
    width: 250px;
    height: 250px;
  }
}
@media all and (max-width: 500px) {
  .project-page .project-container #projects .square {
    height: 200px;
    width: 200px;
  }
}
.project-page .project-container #projects .square span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.project-page .project-container #projects .square:hover span:nth-child(1) {
  animation-play-state: paused;
}
.project-page .project-container #projects .square span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  animation: animate 4s linear infinite;
}
.project-page .project-container #projects .square:hover span:nth-child(2) {
  animation-play-state: paused;
}
.project-page .project-container #projects .square span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  animation: animate 8s linear infinite;
}
.project-page .project-container #projects .square:hover span:nth-child(3) {
  animation-play-state: paused;
}
.project-page .project-container #projects .square .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9;
}
.project-page .project-container #projects .square .content a {
  text-decoration: none;
  color: white;
}
.project-page .project-container #projects .square .content img {
  visibility: hidden;
  height: 100px;
  position: absolute;
  border: 1px solid white;
  z-index: 0;
}
.project-page .project-container #projects .square .content .project-links {
  transition: all 0.3s ease;
}
.project-page .project-container #projects .square .content .project-links:hover {
  transform: scale(1.05);
}
.project-page .project-container #projects .square .content .view-project {
  color: rgb(217, 255, 0);
  padding: 5px;
}
.project-page .project-container #projects .square .content .view-project:hover {
  color: orangered;
}
.project-page .project-container #projects .square .content .red {
  color: orangered;
}
.project-page .project-container #projects .square .content .red:hover {
  color: rgb(217, 255, 0);
}
.project-page .project-container #projects .square .content .project-title {
  text-decoration: none;
  padding: 5px;
  transition: all 0.2s ease;
}
.project-page .project-container #projects .square .content .project-title:hover {
  color: rgb(155, 155, 155);
  transform: scale(1.1);
}
@media all and (min-width: 2040px) {
  .project-page .project-container #projects .square .content .project-title a {
    font-size: 2rem;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about-me-section {
  min-height: 100vh;
  background: #161616;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me-section .about-me-container {
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 3rem;
}
@media screen and (max-height: 768px) {
  .about-me-section .about-me-container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .about-me-section .about-me-container {
    width: 100%;
    margin: 2rem 0;
  }
}
.about-me-section .about-me-container h1 {
  font-size: 1.6rem;
}
.about-me-section .about-me-container h1 .yellow {
  color: rgb(217, 255, 0);
}
.about-me-section .about-me-container h1 .yellow:hover {
  color: orangered;
}
@media all and (min-width: 2040px) {
  .about-me-section .about-me-container h1 {
    font-size: 3rem;
    text-align: center;
  }
}
.about-me-section .about-me-container p {
  margin-top: 2rem;
  line-height: 1.5;
}
.about-me-section .about-me-container p .yellow {
  color: orangered;
}
.about-me-section .about-me-container p .yellow:hover {
  color: rgb(217, 255, 0);
}
.about-me-section .about-me-container p .red {
  color: rgb(217, 255, 0);
}
.about-me-section .about-me-container p .red:hover {
  color: orangered;
  text-decoration: underline;
}
@media all and (min-width: 2040px) {
  .about-me-section .about-me-container p {
    font-size: 1.6rem;
  }
}

.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #161616;
  color: white;
}
@media screen and (min-height: 768px) {
  .contact-page {
    height: 100vh;
  }
}
.contact-page .contact-container {
  max-width: 1280;
  margin: 0 auto;
  padding: 2rem 32px;
  overflow: none;
}
@media all and (min-width: 2040px) {
  .contact-page .contact-container {
    padding: 0 128px;
    max-width: 2000px;
  }
}
@media all and (min-width: 768px) {
  .contact-page .contact-container {
    padding: 0 64px;
  }
}
@media all and (max-width: 600px) {
  .contact-page .contact-container {
    padding-top: 5rem;
  }
}
@media all and (max-width: 450px) {
  .contact-page .contact-container {
    padding-top: 1rem;
  }
  .contact-page .contact-container h1 {
    padding-top: 1rem;
  }
  .contact-page .contact-container form {
    padding-top: 1rem;
  }
  .contact-page .contact-container p {
    display: none;
  }
}
.contact-page .contact-container h1 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
}
@media all and (max-width: 450px) {
  .contact-page .contact-container h1 {
    padding-top: 1rem;
  }
}
.contact-page .contact-container p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: lightgray;
  text-align: center;
}
@media all and (max-width: 450px) {
  .contact-page .contact-container p {
    display: none;
  }
}
.contact-page .contact-container p .red {
  color: orangered;
}
.contact-page .contact-container p .red:hover {
  color: rgb(217, 255, 0);
}
.contact-page .contact-container form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  background-color: rgb(31, 31, 31);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
@media all and (min-width: 768px) {
  .contact-page .contact-container form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 450px) {
  .contact-page .contact-container form {
    padding-top: 1rem;
  }
}
.contact-page .contact-container form .form-group label {
  display: block;
  margin-bottom: 5px;
  color: lightgray;
}
@media all and (min-width: 2040px) {
  .contact-page .contact-container form .form-group label {
    font-size: 1.6rem;
  }
}
.contact-page .contact-container form .form-group label .yellow {
  color: rgb(217, 255, 0);
}
.contact-page .contact-container form .form-group label .yellow:hover {
  color: orangered;
}
.contact-page .contact-container form .form-group label .red {
  color: orangered;
}
.contact-page .contact-container form .form-group label .red:hover {
  color: rgb(217, 255, 0);
}
@media all and (min-width: 2040px) {
  .contact-page .contact-container form .form-group input {
    font-size: 1.6rem;
  }
}
.contact-page .contact-container form .form-group .form-element {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  background-color: #f3f3f3;
  transition: 0.4s;
}
.contact-page .contact-container form .form-group .form-element:focus {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.contact-page .contact-container form .full {
  grid-column: 1/-1;
}
.contact-page .contact-container form .full textarea {
  resize: none;
  min-height: 50px;
}
.contact-page .contact-container form .submit-group {
  grid-column: 1/-1;
  text-align: right;
}
.contact-page .contact-container form .submit-group input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  padding: 0.8rem 1rem;
  background-color: #f3f3f3;
  color: black;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.4s;
}
.contact-page .contact-container form .submit-group input[type=submit]:hover {
  background-color: rgb(217, 255, 0);
}

@media all and (min-width: 2040px) {
  .about-me-section .about-me-container h1 {
    font-size: 3rem;
    text-align: center;
  }
  .about-me-section .about-me-container p {
    font-size: 1.6rem;
  }
  .contact-container form .form-group label {
    font-size: 1.6rem;
  }
  .contact-container form .form-group input {
    font-size: 1.6rem;
  }
}
@media all and (min-width: 2040px) and (min-width: 768px) {
  .contact-container form form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}/*# sourceMappingURL=style.css.map */