*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* VARIABLES */

:root{
    --main-bg-color:#161616
}

/* SPLASH SCREEN *//* SPLASH SCREEN *//* SPLASH SCREEN *//* SPLASH SCREEN */

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff ;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.front-page{
    background: #161616;
    height: 100vh;
    width: 100%;
}

/* FRONT PAGE *//* FRONT PAGE *//* FRONT PAGE *//* FRONT PAGE */

/* header Section */

.front-page .header {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    padding: 30px;
}

.header .mini_logo{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    cursor: pointer;
}

.header ul{
    display: flex;
    list-style: none;
    
}

.header li a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
}

.header li a:hover{
    color: darkgray;
}


.hamburger{
    background-color: transparent;
    border: none;
    display: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.hamburger:hover{
    color: darkgray;
}

.hamburger:focus{
    outline: none;
}

.header .social-media a{
    color: white;
}

.icon:hover {
    height: 4rem;
}


/* Sub title section */

.front-page h1{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* animation: text 3s 7s; */
    animation: fadeIn ease 2s 4s;
}

.front-page .sub-title{
    visibility: hidden;
}


/* front page svg animation section */

#svg-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}


#svg-logo path:nth-child(2){
    stroke-dasharray: 453.7;
    stroke-dashoffset: 453.6;
    animation: dash 1s ease forwards 3s;
}


#svg-logo path:nth-child(3){
    stroke-dasharray: 506.4px;
    stroke-dashoffset: 506.4px;
    animation: dash 1s ease forwards 3.1s;
}

#svg-logo path:nth-child(4){
    stroke-dasharray: 398.9px;
    stroke-dashoffset: 398.9px;
    animation: dash 1s ease forwards 3.2s;
}

#svg-logo path:nth-child(5){
    stroke-dasharray: 477.7px;
    stroke-dashoffset: 477.7px;
    animation: dash 1s ease forwards 3.3s;
}

#svg-logo path:nth-child(6){
    stroke-dasharray: 534.5px;
    stroke-dashoffset: 534.5px;
    animation: dash 1s ease forwards 3.4s;
}

#svg-logo path:nth-child(7){
    stroke-dasharray: 506px;
    stroke-dashoffset: 506px;
    animation: dash 1s ease forwards 3.5s;
}

#svg-logo path:nth-child(8){
    stroke-dasharray: 668.7px;
    stroke-dashoffset: 668.7px;
    animation: dash 1s ease forwards 3.6s;
}

#svg-logo path:nth-child(9){
    stroke-dasharray: 668.7px;
    stroke-dashoffset: 668.7px;
    animation: dash 1s ease forwards 3.7s;
}

#svg-logo path:nth-child(10){
    stroke-dasharray: 506.4px;
    stroke-dashoffset: 506.4px;
    animation: dash 1s ease forwards 3.8s;
}

#svg-logo path:nth-child(11){
    stroke-dasharray: 422.5px;
    stroke-dashoffset: 422.5px;
    animation: dash 1s ease forwards 3.9s;
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}

@keyframes text {
    0%{
        transition: ease-in;
        margin-bottom: -40px;    
    }

    30%{
        letter-spacing: 5px;
        margin-bottom: -40px;
    }

}

@keyframes fadeIn {
    0% {
        opacity:0;
        margin-left: -40px;    
    }
    100% {
      opacity:1;
    }
}

/* PROJECT PAGE *//* PROJECT PAGE *//* PROJECT PAGE *//* PROJECT PAGE */

.project-page{
    height: 100vh;
    background-color: var(--main-bg-color);
    color: white;
}

.project-page .title{
    padding: 1rem;
    font-family: 'Vujahday Script', cursive;
    font-weight: 100;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 4rem;
}

/* DIV BOX */

#projects{
    display: flex;
    align-items: center;
    justify-content: center;
}

.square{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
    cursor: pointer;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content a{
    color: white;
}

.content .project-title{
    font-size: 1.6rem;
    font-family: 'Vujahday Script', cursive;
    text-decoration: none;
}

.square span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}

.square:hover span:nth-child(1) {
    animation-play-state: paused;
}

.square span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius:  38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 4s linear infinite;
}
.square:hover span:nth-child(2) {
    animation-play-state: paused;
}

.square span:nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius:  38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 8s linear infinite;
}
.square:hover span:nth-child(3) {
    animation-play-state: paused;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}


/* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT */

.contact-page{
    height: 100vh;
    background-color: var(--main-bg-color);
    color: white;
}

.contact-page .contact-container{
    max-width: 1280;
    margin: 0 auto;
    padding: 0 32px;
    overflow: none;
}

.contact-page .contact-container h1{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.contact-page .contact-container p{
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: lightgray;
}

.contact-page form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background-color: rgb(31, 31, 31);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.contact-page .form-group label{
    display: block;
    margin-bottom: 5px;
    color: lightgray;
}

.contact-page .form-group .form-element{
    appearance: none;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    background-color: #F3F3F3;
    transition: 0.4s;
}

.contact-page .form-group .form-element:focus{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.contact-page .form-group textarea{
    resize: none;
    min-height: 50px;
}

.contact-page .full{
    grid-column: 1 / -1;
}

.contact-page .submit-group{
    grid-column: 1 / -1;
    text-align: right;
}

.contact-page .submit-group input[type = "submit"]{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    padding: 0.8rem 1rem;
    background-color: #F3F3F3;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.4s;
}

.contact-page .submit-group input[type = "submit"]:hover{
    background-color: pink;
    height: 3rem;
    width: 8.5rem;
}





/* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES */


@media all and (min-width: 768px){
    .contact-page .contact-container{
        padding: 0 64px;
           
    }
    .contact-page form{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 1080px){
    .contact-page .contact-container{
        padding: 0 128px;   
    }
}

@media all and (max-width: 768px){
    
    .hamburger{
        display: block;
    }
    
    .header .nav{
        position: absolute;
        left: 41%;
        margin-top: 1rem;
        display: none;
        /* width: 100%; */
        margin: auto;
        flex-direction: column;   
    }

    .header .nav li{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .nav.show{
        display: flex;
    }


    .header .social-media{
        display: none;
    }

    .front-page h1{
        font-size: 1.5rem;
    }

    #svg-logo{
        width: 400px;
    }

    .contact-page .contact-container h1{
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
    }
    .contact-page .form-group .form-element{
        padding: 0.4rem 0.5rem;
    }
    .contact-page .submit-group input[type = "submit"]{
        padding: 0.4rem 0.5rem;
    }
}

@media all and (max-width: 600px){
    .header .nav{
        position: absolute;
        left: 40%;
        margin-top: 1rem;
        display: none;
        /* width: 100%; */
        margin: auto;
        flex-direction: column;
        
    }
}

@media all and (max-width: 500px){
    .header .nav{
        position: absolute;
        left: 38%;
        margin-top: 1rem;
        display: none;
        /* width: 100%; */
        margin: auto;
        flex-direction: column;
        
    }
    .front-page h1{
        font-size: 1rem;
    }
    #svg-logo{
        width: 300px;
    }
}

@media all and (max-width: 450px){
    .header .nav{
        left: 36%;
    }
}

@media all and (max-width: 350px){
    .front-page h1{
        font-size: 0.8rem;
    }

    #svg-logo{
        width: 200px;
    }
}