* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

.front-page {
  background: #161616;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}
.front-page .header {
  position: fixed;
  width: 100%;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 2rem;
  z-index: 9999;
  background-color: #161616;
}
@media all and (max-width: 768px) {
  .front-page .header .hamburger.rotate {
    transform: rotate(90deg);
  }
  .front-page .header .nav {
    position: fixed;
    right: 0px;
    top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    background-color: #161616;
    z-index: 999;
    height: 100%;
  }
  .front-page .header .nav li {
    position: relative;
    z-index: 9999;
    opacity: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .front-page .header .nav li a {
    font-size: 1.5rem;
  }
  .front-page .header .nav-active {
    transform: translateX(0%);
  }
  .front-page .header .social-media {
    display: none;
  }
}
.front-page .header .mini_logo a {
  position: relative;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 9999;
}
@media all and (min-width: 2040px) {
  .front-page .header .mini_logo a {
    font-size: 1.7rem;
  }
}
@media all and (min-width: 1080px) {
  .front-page .header .mini_logo a {
    font-size: 1.5rem;
  }
}
.front-page .header .mini_logo a:hover {
  color: rgb(217, 255, 0);
}
.front-page .header ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.front-page .header ul .red {
  color: orangered;
}
.front-page .header ul .red:hover {
  color: rgb(217, 255, 0);
}
.front-page .header ul .yellow {
  color: rgb(217, 255, 0);
}
.front-page .header ul .yellow:hover {
  color: orangered;
}
.front-page .header li a {
  text-decoration: none;
  padding: 0 1.5rem;
  color: white;
  font-size: 1rem;
}
.front-page .header li a:hover {
  color: darkgray;
}
@media all and (min-width: 2040px) {
  .front-page .header li a {
    font-size: 1.4rem;
  }
}
.front-page .header .hamburger {
  position: relative;
  display: none;
  cursor: pointer;
  z-index: 99999;
}
.front-page .header .hamburger div {
  width: 16px;
  height: 2px;
  background-color: #fff;
  margin: 5px;
}
.front-page .header .hamburger:hover {
  color: orangered;
}
.front-page .header .hamburger:focus {
  outline: none;
}
@media all and (max-width: 768px) {
  .front-page .header .hamburger {
    display: block;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .front-page .header .hamburger .line {
    transition: all 0.4s ease;
  }
  .front-page .header .hamburger .line.turn {
    transform: rotate(270deg);
  }
}
.front-page .header .social-media a {
  color: white;
  height: 200px;
}
.front-page .header .social-media a:hover {
  color: orangered;
}
.front-page .header .social-media a .svg-inline--fa {
  font-size: 1.7rem;
}
.front-page .home-btn {
  margin-left: 52px;
}
.front-page .home-btn a {
  color: rgb(126, 125, 125);
}
.front-page .home-btn a:hover {
  color: lightgray;
}
.front-page .project-header {
  flex-direction: column;
  color: rgb(216, 216, 216);
}
@media screen and (max-width: 450px) {
  .front-page .project-header {
    margin-top: 0px;
  }
}
.front-page .project-header .text-container {
  max-width: 80%;
  height: auto;
  margin: auto;
  text-align: center;
}
.front-page .project-header .text-container h1 {
  padding: 2rem 0.6rem 1rem 0.6rem;
  font-size: 2rem;
}
.front-page .project-header .text-container h1 .red {
  color: orangered;
}
.front-page .project-header .text-container h1 .yellow {
  color: rgb(217, 255, 0);
}
.front-page .project-header .text-container .projects-container {
  margin-top: 30px;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .front-page .project-header .text-container .projects-container {
    margin-top: 50px;
  }
}
.front-page .project-header .text-container .projects-container .row {
  display: flex;
  justify-content: space-evenly;
}
.front-page .project-header .text-container .projects-container .row .project .title {
  text-align: center;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1440px) {
  .front-page .project-header .text-container .projects-container .row .project .title {
    font-size: 1.3rem;
  }
}
.front-page .project-header .text-container .projects-container .row .project .image {
  position: relative;
}
.front-page .project-header .text-container .projects-container .row .project .image:hover .cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  height: 100%;
  width: 101%;
  opacity: 0.9;
}
.front-page .project-header .text-container .projects-container .row .project .image:hover .cover a {
  opacity: 1;
  text-decoration: none;
  transition: all 0.2s ease;
}
.front-page .project-header .text-container .projects-container .row .project .image:hover .cover a:hover {
  color: white;
  transform: scale(1.15);
}
.front-page .project-header .text-container .projects-container .row .project .image:hover .cover a:last-child {
  margin-top: 1rem;
}
@media screen and (min-width: 1440px) {
  .front-page .project-header .text-container .projects-container .row .project .image:hover .cover a {
    font-size: 1.3rem;
  }
}
.front-page .project-header .text-container .projects-container .row .project .image img {
  height: 150px;
  border-radius: 5px;
}
@media screen and (min-width: 1440px) {
  .front-page .project-header .text-container .projects-container .row .project .image img {
    height: 250px;
  }
}
.front-page .project-header .text-container .projects-container .row .project .image img.portfolio-img {
  border: 1px solid white;
}
.front-page .project-header .text-container .projects-container .row .project .image .cover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.front-page .project-header .text-container .projects-container .row .project .description {
  margin: 1rem 0;
}
@media screen and (min-width: 1440px) {
  .front-page .project-header .text-container .projects-container .row .project .description {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 768px) {
  .front-page .project-header .text-container .projects-container .row .project .description {
    text-align: center;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .front-page .project-header .text-container .projects-container .row .project .tech-stack-text {
    margin-bottom: 2.5rem;
    margin-top: -20px;
  }
}
.front-page .project-header .text-container .projects-container .row.first {
  margin-top: 3rem;
}
.front-page .project-header .text-container .projects-container .row.second {
  margin-top: 3rem;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .front-page .project-header .text-container .projects-container .row.second {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .front-page .project-header .text-container .projects-container .row {
    flex-direction: column;
  }
}
.front-page .project-header .text-container .projects-container .red {
  color: orangered;
}
.front-page .project-header .text-container .projects-container .yellow {
  color: rgb(217, 255, 0);
}

@media all and (min-width: 2040px) {
  .front-page .header .mini_logo {
    font-size: 2.3rem;
  }
  .front-page .header li a {
    font-size: 2rem;
  }
  .front-page .header .fa-github {
    font-size: 2rem;
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}/*# sourceMappingURL=project4.css.map */