* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

.front-page {
  padding-bottom: 4rem;
  background: #161616;
  min-height: 100vh;
  width: 100%;
}
.front-page .header {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  padding: 30px;
}
.front-page .header .mini_logo {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
}
.front-page .header ul {
  display: flex;
  list-style: none;
}
.front-page .header ul .red {
  color: orangered;
}
.front-page .header ul .red:hover {
  color: rgb(217, 255, 0);
}
.front-page .header ul .yellow {
  color: rgb(217, 255, 0);
}
.front-page .header ul .yellow:hover {
  color: orangered;
}
.front-page .header li a {
  text-decoration: none;
  margin-left: 20px;
  color: white;
}
.front-page .header li a:hover {
  color: darkgray;
}
.front-page .header .hamburger {
  display: none;
  cursor: pointer;
}
.front-page .header .hamburger div {
  width: 16px;
  height: 2px;
  background-color: #fff;
  margin: 5px;
}
.front-page .header .hamburger:hover {
  color: darkgray;
}
.front-page .header .hamburger:focus {
  outline: none;
}
.front-page .header .social-media a {
  color: white;
}
.front-page .home-btn {
  margin-left: 52px;
}
.front-page .home-btn a {
  color: rgb(126, 125, 125);
}
.front-page .home-btn a:hover {
  color: lightgray;
}
.front-page .project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  color: rgb(216, 216, 216);
  max-width: 2440px;
  margin: 0 auto;
}
.front-page .project-header .text-container {
  max-width: 80%;
  height: auto;
}
.front-page .project-header .text-container h1 {
  padding: 2rem 0.6rem 2rem 0.6rem;
  font-size: 2rem;
}
.front-page .project-header .text-container h1 .red {
  color: orangered;
}
.front-page .project-header .text-container p {
  padding: 0.6rem;
  line-height: 1.5rem;
}
.front-page .project-header .text-container p .pre-text {
  color: rgb(124, 124, 124);
}
.front-page .project-header .text-container p .yellow {
  color: rgb(217, 255, 0);
}
.front-page .project-header .text-container p .yellow:hover {
  color: orangered;
}
.front-page .project-header .text-container p .red {
  color: orangered;
}
.front-page .project-header .text-container p .red:hover {
  color: rgb(217, 255, 0);
}
.front-page .project-header .text-container p .stack {
  display: flex;
  justify-content: start;
}
.front-page .project-header .text-container p a {
  color: rgb(217, 255, 0);
}
.front-page .project-header .text-container p a:hover {
  color: orangered;
}
.front-page .project-header .text-container .project-pic {
  max-width: 100%;
  height: auto;
  margin-top: 0.6rem;
  margin-left: 0.6rem;
  border: 6px solid white;
}
.front-page .next-btn {
  margin-top: 2rem;
  transition: all 0.2s ease;
}
.front-page .next-btn:hover {
  transform: scale(1.05);
}
.front-page .next-btn a {
  color: orangered;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid orangered;
}
.front-page .next-btn a:hover {
  border: 1px solid rgb(217, 255, 0);
  color: rgb(217, 255, 0);
  transform: scale(1.2);
}

@media all and (min-width: 2040px) {
  .front-page .header .mini_logo {
    font-size: 2.3rem;
  }
  .front-page .header li a {
    font-size: 2rem;
  }
  .front-page .header .fa-github {
    font-size: 2rem;
  }
}
@media all and (max-width: 768px) {
  .front-page .header .hamburger {
    display: block;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .front-page .header .hamburger .line {
    transition: all 0.4s ease;
  }
  .front-page .header .hamburger .line.turn {
    transform: rotate(265deg);
  }
  .front-page .header .hamburger.rotate {
    transform: rotate(90deg);
  }
  .front-page .header .nav {
    position: absolute;
    right: 0px;
    height: 25vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    background-color: #161616;
  }
  .front-page .header .nav li {
    opacity: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .front-page .header .nav-active {
    transform: translateX(0%);
  }
  .front-page .header .social-media {
    display: none;
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}/*# sourceMappingURL=project2.css.map */